.header_wrapper {
    height: 100px;
}

.header_inner {
    padding: 20px 0;
    position: relative;
}

.header_inner div{
    position: absolute;
    top:20px;
}

.header_inner #icon {
    left: 100px;
}

.header_inner #write_button {
    left: 200px;
    top:50px;
}

.header_inner #login_button {
    right: 100px;
    top:50px;
}